<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/login.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9f35c4fd09.js" crossorigin="anonymous"></script>
    <title>Ingresar</title>
</head>
<body>

    <header>
        <div class="nav-bar-top">
            <a href="https://app-dh-mercado-lievre.herokuapp.com"><img id="logo" src="./img/logo-mercado-liebre.svg"></a>
            <input type="search" placeholder="Buscar productos, marcas">
            <a class="creditos"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</a>
        </div class="control-formulario">
      
        <div class="barraHambur">
            <i class="fa fa-bars"></i>
           </div >
    
            <div class="nav-bar-bottom">
    
                <ul class="contenedor1">
                  <li><a href="#">Ofertas</a></li>
                  <li><a href="#">Tiendas Oficiales</a></li>
                  <li><a href="#">Vender</a></li>
                  <li><a href="#">Ayuda</a></li>
                </ul>
           
                <ul class="contenedor2">    
                    <li><a href="https://app-dh-mercado-lievre.herokuapp.com/registrarse">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li><a href="https://app-dh-mercado-lievre.herokuapp.com/ingresar">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                  <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>  
        </div>
        </header>
        
        <main>
            <h2>Ingresar</h2>
          <form action="/crear-cuenta" method="POST">
            <div class="control-formulario">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" class="control-input" placeholder="Correo electronico">
            </div> 
            <div class="control-formulario">
                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password" class="control-input" placeholder="Contraseña">
            </div>
 
            <div class="control-boton">
            <button type="submit" class="enviar" id="enviar">Enviar</button>
        </div>
           </form>
        
    </main>
    
    <footer>
        <section>
            <div class="des-footer">
                <i class="fa fa-credit-card"></i>
                <h3>Pagá con tarjeta o efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
          </div>

          <div class="des-footer">
               <i class="fa fa-gift"></i>
               <h3>Envío gratis desde $ 2.500</h3>
               <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
          </div>

          <div class="des-footer">
                <i class="fa fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
          </div>
        </section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
    </footer>
</body>
</html>