* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    background-color:#ebebeb;
}
/*header*/
.nav-bar-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#logo{
    width: 40vw;
    list-style: none;
}
.nav-bar-top input{
    border-radius: 5px;
    width: 40vw;
    padding: 6px;
    align-self: stretch;
    border: solid 1px #ebebeb;
}
.nav-bar-bottom{
    display: none;
}
header {
    background-color: #EAC926;
    padding: 15px;
    position:fixed;
    top: -3px;
    z-index: 1;
}
.creditos {
    align-content: center ;
    text-align:center;
    font-weight: 800;
    margin: 15px
}
.barraHambur {
    font-size: 20px;
    text-align: center;
    color:white;
    background-color: #1259c3;
    padding: 7px;
    border-radius: 5px;
    display: block;
    max-width: 30px;
    margin: auto;
}
/* Tamaño de la letra en toda la app P*/
p{
    font-size: 15px;
}
/*main*/
div{
    margin:10px;
}
main{
    margin: auto;
    width: 95%;
    margin-top: 200px;
}
#registro{
    font-weight: 1000;
    margin: 10px;
}
.control-formulario p{
    font-size: 20px;
    font-weight: bold;    
    margin: 20px 0px;
    
}
.control-input{
    width: 100%;
    height: 10vw;
    margin: 8px 0px;
    border: none;
    border-radius: 8px;
    padding-left: 5px;
}
.control-radio{
    margin-left: 20px;
}
.control-label1{
    margin-left: 5px;
}
.control-label{
    margin-left: 5px;
    position: relative;
    left: 35px;
    bottom: 15px;
}
label #tipo-perfil{
    font-style: italic;
}
.control-checkbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 20px;
}

/*footer*/
footer {
    background-color: #ffffff;
    text-align: center;
    line-height: 20px;
    padding-top: 15px;
    margin-top: 8%;
    margin-bottom: -9px;
}
.des-footer{
    margin: 60px 0px;
}
footer section{
    margin-top: 20px;
}
footer p{
    width: 80%;
    margin:auto;
    margin-bottom: 10px;
}
footer h3{
    margin: auto;
}
footer i{
    font-size:2em;
    margin:10px;
    color:#1259c3;
    margin: auto;
    
}
footer .copyright{
    text-align: left;
    margin-top: 40px;
    margin-right: 40%;
}
/* Media quires*/

/*Tablet*/
@media (min-width: 768px){
    header{
        position: static;
    }
    main article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
     }
     main {
        width: 50%;
        margin-top: 15px;
    }
     .item-title{
         display: block;
     }
     .control-input{
         height: 7vw;
     }
     .nav-bar-top{
        margin: bottom 2px; 
     }
     #logo{
         width: 28vw;
         margin: 0px 4px;
     }
     .nav-bar-top input{
         width: 27%;
         align-self: center;
         margin: 0 5px;
     }
     .creditos{
         width: 36%;
         text-align: right;
         margin: 0px 5px;
         align-self: center;
     }
     .barraHambur{
         display: none;
     }
     .nav-bar-bottom{
         display:flex;
         justify-content: space-between;
         flex-wrap: wrap;
     }
     .nav-bar-bottom ul{
         list-style: none;
         display: flex;
         
     }
     .nav-bar-bottom li{
         margin: 0 5px;
     }
     .nav-bar-bottom a{
        text-decoration: none;
        color: black;
        font-weight: 500;
     }
     .contenedor2 a{
         margin-right: 6px;
     }
}

/*Computadora*/
@media (min-width:1200px){
    header{
        margin: auto;
    }
    main{
        margin-top: 10px;
    }
    .nav-bar-bottom{
        font-size: 19px;
    }
    .nav-bar-bottom li{
        margin: 0 10px;
    }
    .nav-bar-bottom a{
        margin: 0  5px;
    }
    .creditos{
        max-width: none;
        font-size: 22px;
    }
    #logo{
        width: 300px;
    }
    .control-input{
        height: 5vw;
    }
    footer section{
        display:flex;
    }
}