* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color:#ebebeb;
}
#logo{
    width: 150px;
}
.nav-bar-top input{
    width: 140px;
    height: 30px;
    display: inline;
    margin: auto;
    border: solid 1px #ebebeb;
    display: none;
}
.nav-bar-bottom{
    display: none;
}
header {
    background-color: #EAC926;
    padding: 15px;
    box-sizing: border-box;
}
.creditos {
    text-align:center;
    display: block;
    font-weight: 800;
    margin: 15px
}
.barraHambur {
    font-size: 20px;
    text-align: center;
    color:white;
    background-color: #1259c3;
    padding: 7px;
    border-radius: 5px;
    display: block;
    max-width: 30px;
    margin: auto;
}
/* Tamaño de la letra en toda la app P*/
p{
    font-size: 12px;
}
/*Productos MAIN*/
main{
    width: 90%;
    margin:auto;
    border: 15px;
    box-sizing: border-box;
}
.item-title{
    font-weight: bold;
    display: none;
}
article img{
    width:90%;
    border-bottom: 2px #ebebeb solid;
    margin-bottom: 10px;
    display: block;
}
.UltimaVisita article{
    margin: 10px;
    padding: 15px;
    background-color: #ffffff;
}
.UltimaVisita h2{
    font-size: 24px;
}
.Ofertas article{
    margin: 10px;
    padding: 15px;
    background-color: #ffffff;
}
#precio{
    font-size: 18px;
}
#descuento{
    color:#38C047;
}
main i{
    color:#38C047;
    border: solid black 1px;
    padding:7px;
    border-radius: 100px;
}
main p{
    font-size: 16px;
}

/*Footer*/
footer {
    text-align: center;
    line-height: 20px;
}
footer p{
    width: 80%;
    margin:auto;
}
footer h3{
    line-height: 5px;
}
footer i{
    font-size:2em;
    margin-top: 10px;
    color:#1259c3;
}
footer .copyright{
    text-align: left;
    margin-top: 40px;
    margin-right: 40%;
}
/* Media quires*/
@media (min-width: 769px){
    main article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
     }
     main {
        width: 50%;
    }
     .item-title{
         display: block;
     }
     .nav-bar-top{
         display: flex;
         justify-content: space-between;
     }
     .creditos{
         max-width: 350px;
         text-align: right;
     }
     .barraHambur{
         display: none;
     }
     .nav-bar-bottom{
         display:flex;
         justify-content: space-between;
         flex-wrap: wrap;
     }
     .nav-bar-bottom ul{
         list-style: none;
         display: flex;
         
     }
     .nav-bar-bottom li{
         margin: 0 5px;
     }
     .nav-bar-bottom a{
        text-decoration: none;
        color: black;
        font-weight: 500;
     }
     .contenedor2 a{
         margin-right: 6px;
     }
}

@media (min-width:1200px){
    header{
        max-width: 1200px;
        margin: auto;
    }
    .nav-bar-bottom{
        font-size: 19px;
    }
    .nav-bar-bottom li{
        margin: 0 10px;
    }
    .nav-bar-bottom a{
        margin: 0  5px;
    }
    .creditos{
        max-width: none;
        font-size: 22px;
    }
    #logo{
        width: 300px;
    }
}